/*my books page css */

/*background image*/
body {
	background-image: url("backgroundpage.jpg") !important;
    background-repeat: repeat;
    background-size: cover; 
}

#panelTransparent {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 60%;
}
/*book name font*/
#fantasy {
	font-family: fantasy;
	font-size: 16px;
	font-style: italic;
	font-variant: normal;
	line-height: 16.5px;
	text-decoration: underline;	
}

hr {
	border-top: 3px solid #eee;
}