/*
#headline {
	text-align: center;
    font-family: gigi;
    font-size: 60px;	
} */   
#headline {  
text-align: center;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7); 
  margin-top: 50px
  }
  
#imageCarousel {
	 width:50%;
}
.carousel-control.right {
    right: 50%;
}


/*
#font {
	font-family: fantasy;
    font-size: 18px
}*/

#font {
	font-family: gigi;
    color: black;
    font-size: 26px;
    font-weight: bold;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-height: 500px;
}
