<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Book page</title>
<link rel="stylesheet" type="text/css"
	href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bookPage.css">
<script src="lib/jquery-3.2.1.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div ng-app="login" ng-controller="book">
		<div ng-model="changeBookPage" ng-init="changeBookPage = true">
			<div ng-if="changeBookPage">
				<div class="container">
					<div class="row">
					<div class="col-md-3">
						<div class="card" id="cardBookPage">
						<img ng-src="books/{{bookDetails.name}}_files/{{bookDetails.image}}"
							alt="image" id="imagebookpage">
							</div>
							</div>
							<br>
							<br>
							<div class="col-md-3" id="coltop">
						<p id="serif">{{bookDetails.name}}</p>
						<br>
						<p><b>Description: </b> {{bookDetails.description}}</p>
						<p><b>Price: </b> {{bookDetails.price}}$</p>
						</div>
						
						
						<div ng-model="$parent.changeNotBought"
							ng-init="$parent.changeNotBought = true">
							<div ng-if="$parent.changeNotBought">
								<div class="row">
								<div class="col-md-2">
								<div ng-model="$parent.$parent.changeLike"
									ng-init="$parent.$parent.changeLike = false">
									<div ng-if="$parent.$parent.changeLike">
									
										
										<button id="like" data-toggle="tooltip" data-placement="right"
											title="{{nicknames}}" ng-click="like()"
											class="btn btn-default" tooltip>
											 <img ng-src="{{likeimg}}" width="70">
											 <span class="badge">{{numberOfLIKes}}</span>
										</button>
										
									</div>
								</div>
								
								<div ng-model="$parent.$parent.changeDislike"
									ng-init="$parent.$parent.changeDislike = false">
									<div ng-if="$parent.$parent.changeDislike">
									
										<button id="dislike" data-toggle="tooltip"
											data-placement="right" title="{{nicknames}}"
											ng-click="dislike()" class="btn btn-default" tooltip> <img
												ng-src="{{dislikeimg}}" width="70">
												<span class="badge">{{numberOfLIKes}}</span>
										</button>
										
									</div>
								</div>
								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
								<button class="btn btn-default" ng-click="readBook()">Read
									Me</button>
								</div>
								</div>
								
															
								
								<div class="row">
								<div class="col-md-8" id="colReveiw">
								<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control"
										ng-model="$parent.$parent.reviewText"
										placeholder="Enter your review"></input>
										<span class="input-group-btn">
										<button class="btn btn-default" ng-click="addReview()">Add
									Review</button>
									</span>
									</div>
								</div>
								</div>
								</div>
							</div>
						</div>
						<div ng-model="$parent.changeBought"
							ng-init="$parent.changeBought = false">
							<div ng-if="$parent.changeBought">
								<button ng-click="buy()" class="btn btn-success">Buy</button>
							</div>
						</div>
						<br>
						<br>
						<div class="container">
						<div class="pre-scrollable" id="reviewScroll">
							<button id="sho" type="button" class="btn btn-info"
								ng-click="showRev()">Show Reviews</button>
							<div id="rev" class="collapse">
								<div class="panel panel-default" id="panelReview">
									<div ng-repeat="x in reviewsList" class="panel-body" id="bodyReview">
										 <b>{{x.nickname}}</b><br> "{{x.review}}"
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<p>{{content}}</p>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div ng-model="changeBuyBook" ng-init="changeBuyBook = false">
			<div ng-if="changeBuyBook">
				<div ng-include="'html/buyBook.html'"></div>
			</div>
		</div>
		<div ng-model="changeReadBook" ng-init="changeReadBook = false">
			<div ng-if="changeReadBook">
				<div ng-include="'html/readBook.html'"></div>
			</div>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>