<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Book page</title>
<link rel="stylesheet" type="text/css" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../lib/jquery-3.2.1.js"></script>
<script src="../lib/angular.min.js"></script>
<script src="../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
 <body>
 	<div ng-app="books" ng-controller="book">
		<img src="../logo.gif" class="img-responsive block">
			<div class="container" >
				
					<div class="row">
					<h1> {{contnent}}{{bookName}}</h1>
					<br>
					<p>price: {{price}}<p>
					<h2> Description: </h2>
					<p>	{{description}}</p>
					<img ng-src ={{image}} alt="image">
					<p>{{numberOfLIKes}}</p>
					<button ng-click="buy()" class="btn btn-success" ng-hide="PurchasedOrNot()">Buy me</button>		

					<button data-toggle="tooltip" data-placement="right"  title="{{likes}}" ng-click="like()"  class="btn btn-default"  ng-show="PurchasedOrNot()"  tooltip >
					 <i style="color:blue"> {{numberOfLIKes}} </i> 
					 <img ng-src= "{{likeimg}}" width="70" >
					   </button>
					  <!-- REVIEWS -->
	
   					 </div>
    <!-- Populate Grid using ng repeat-->
						</div>
					   </div>
					</div>
					</div>
		<script src="../js/temp.js"></script>
	</div>
</body>
</html>