<!-- The admin book page, where all the details about the book are displayed -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Book page</title>
<link rel="stylesheet" type="text/css"
	href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bookPageAdmin.css">
</head>
<body>
	<div ng-app="login" ng-controller="bookAdmin">
		<div ng-model="changeBookPage" ng-init="changeBookPage = true">
			<div ng-if="changeBookPage">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="card" id="cardBookPage">
								<img
									ng-src="books/{{bookDetails.name}}_files/{{bookDetails.image}}"
									alt="image" id="imagebookpage">
							</div>
						</div>
						<br> <br>
						<div class="col-md-3" id="coltop">
							<p id="serif">{{bookDetails.name}}</p>
							<br>
							<p>
								<b>Description: </b> {{bookDetails.description}}
							</p>
							<p>
								<b>Price: </b> {{bookDetails.price}}$
							</p>
						</div>
						<div class="row">
							<div class="col-md-2">
								<br> <br> <br>
								<!-- Tooltip that displays the users that liked the book. -->
								<button id="like" class="btn btn-default dropdown dropmenu">
									<div class="dropdown-content" id="drop-list">
										<a href="#" ng-repeat="x in userInfoList"
											ng-click="moveUser(x.username)">{{x.nickname}}</a>
									</div>
									<img ng-src="{{likeimg}}" width="70"> <span class="badge">{{numberOfLIKes}}</span>
								</button>
							</div>
						</div>
						<br> <br>
						<div class="container">
							<div class="pre-scrollable" id="reviewScroll">
								<button id="sho" type="button" class="btn btn-info"
									ng-click="showRev()">Show Reviews</button>
								<div id="revAd" class="collapse">
									<div class="panel panel-default" id="panelReview">
										<div ng-repeat="x in reviewsList" class="panel-body"
											id="bodyReview">
											<b>{{x.nickname}}</b><br> "{{x.review}}"
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-model="changeUserPage" ng-init="changeUserPage = false">
			<div ng-if="changeUserPage">
				<div ng-include="'html/userPage.html'"></div>
			</div>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>
