<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Browse Books</title>
<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/browseBooks.css">
<script src="lib/jquery-3.2.1.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div ng-app="login" ng-controller="browseBooksAdminController" id="backgroundPage">
	<div ng-model="changeBrowseAd" ng-init="changeBrowseAd = true">
	<div ng-if="changeBrowseAd">
			<div class="row">
				<div ng-repeat="x in bookslist">
						<div class="column">
							<div class="card" id="cardBook">
								<img ng-src="books/{{x.name}}_files/{{x.image}}" alt="" id="imageBook">
								<div class="container" id="containerBook">
									<br>
									<p id="fantasy">{{x.name}}<p>
									<p><b>Description:</b></p>
									<p>{{x.description}}</p>
									<p><b>Price:</b> {{x.price}}$</p>
									<p>
										<button ng-click="toBook(x.name)" class="button">Book Page</button>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		</div>
	<div ng-model="changeBookAd" ng-init="changeBookAd = false">
	<div ng-if="changeBookAd">
	<div ng-include="'html/bookPageAdmin.html'"></div>
	</div>
	</div>
<script src="js/index.js"></script>
</body>
</html>