<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/login.css">
<script src="lib/jquery-3.2.1.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div ng-app="login" ng-controller="loginController">
	<div ng-model="changeLogin" ng-init="changeLogin = true">
	<div ng-if="changeLogin">
	<div class="form-group form-row col-md-4 col-md-offset-4">
	<div class="card">
	<img src="logo.gif" class="center-block">
	<br><br>
    <input type="text" class="form-control" placeholder="Enter Username" ng-model="$parent.username" required>
    <br>
    <input type="password" class="form-control" placeholder="Enter Password" ng-model="$parent.password" required>
    <br>
    <button ng-click="login()" class="btn btn-primary">Log In</button>
    <button ng-click="signup()" class="btn btn-link">Sign Up</button>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Error!</h4>
                </div>
                <div class="modal-body">
                    <p>{{content}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <div ng-model="changeSignup" ng-init="changeSignup = false">
    	<div ng-if="changeSignup">
    		<div ng-include="'html/signUp.html'"></div>
    	</div>
  	</div>
  	<div ng-model="changeNavbar" ng-init="changeNavbar = false">
		<div ng-if="changeNavbar">
			<div ng-include="'html/navbar.html'"></div>
  		</div>
  	</div>
  	<div ng-model="changeNavbarAdmin" ng-init="changeNavbarAdmin = false">
		<div ng-if="changeNavbarAdmin">
			<div ng-include="'html/navbarAdmin.html'"></div>
  		</div>
  	</div>
  	</div>
  	<script src="js/index.js"></script>
</body>
</html>



