<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Read Book</title>
<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/readBook.css">
<script src="lib/jquery-3.2.1.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div ng-app="login" ng-controller="readBookController">
	<div class="row">
	<div class="col-md-2">
	<div class="sidenav">
  <a href="#" ng-click="returnToBook()">Book page</a>
  
  <a href="#" ng-click="startScroll()">Return to last spot</a>
</div>
</div>  
	<div class="col-md-10">
	<div ng-include="'books/' + content + '.html'"></div>
	</div>
  	</div>
  	</div>
  	<script src="js/index.js"></script>
</body>
</html>



