<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Browse Books</title>
<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/viewUsers.css">
<script src="lib/jquery-3.2.1.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div ng-app="login" ng-controller="viewUsersController">
		<div ng-model="changeViewUsers" ng-init="changeViewUsers = true">
			<div ng-if="changeViewUsers">
				<div class="container">
					<input class="form-control" id="myInput" type="text"
						placeholder="Search.."> <br>
					<ul class="list-group" id="myList">
						<li ng-repeat="x in userlist" class="list-group-item"><button
								ng-click="viewUser(x.username)" class="btn btn-link">{{x.username}}</button></li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-model="changeUserPage" ng-init="changeUserPage = false">
			<div ng-if="changeUserPage">
				<div ng-include="'html/userPage.html'"></div>
			</div>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>