<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Browse Books</title>
<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/viewReviews.css">
<script src="lib/jquery-3.2.1.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div ng-app="login" ng-controller="viewReviewsController">
		<div ng-repeat="x in reviewList">
		<br>
		<p id="fantasy">{{x.bookname}}</p>
		<div class="row">
  			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
		<h4><i>Nickname: </i> </h4>{{x.nickname}}
		<h4><i>Review: </i> </h4>"{{x.review}}"
		</div>
		<br>
		<br>
		<button ng-click="approveReview(x.bookname, x.nickname, x.review)" class="btn btn-success">Approve Review</button>
		</div>
		<hr>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>