<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Browse Books</title>
<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/viewReviews.css">
<script src="lib/jquery-3.2.1.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div ng-app="login" ng-controller="viewReviewsController">
		<div ng-repeat="x in reviewList" id="{{x.review}}">
		<h3>{{x.bookname}}</h3>
		<h4>{{x.nickname}}: "{{x.review}}"</h4>
		<button ng-click="approveReview(x.bookname, x.nickname, x.review)" class="btn btn-success">Approve Review</button>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>